// COMMISSION
.container__tab{
	h4{
		text-transform: uppercase;
	}
	.nav{
		li{
			margin-right: 2rem;
			a{
				padding: 10px 0px;
				&:focus, &:hover{
					text-decoration: none;
					background-color: transparent;
				}
			}
		}
	}
	.nav-tabs{
		li{
			a{
				color: $darkGrey;
				text-transform: uppercase;
				margin-right: 2px;
				line-height: 1.42857143;
				border: 1px solid transparent;
				border-radius: 4px 4px 0 0;
			}
		}
		li.active{
			a, &:focus{
				color: #c4870f;
				background-color: transparent;
				border: 0px solid transparent;
				border-bottom-color: #c4870f;
				cursor: default;
				border-bottom-color: #c4870f;
				border-bottom-style: solid;
				border-bottom-width: 2.5px;
			}
		}
	}
}



.table{
	thead, tbody, tfoot{
		tr{
			th{
			    padding: 8px;
			    line-height: 1.42857143;
			    vertical-align: top;
			    border-top: 1px solid transparent;
			    border-bottom: 1px solid rgba(221,221,221,1);
			}
			td{
			    padding: 8px;
			    line-height: 1.42857143;
			    vertical-align: top;
			    border-top: 1px solid transparent;
			    border-bottom: 1px solid rgba(221,221,221,1);
			}
		}
	}
}
.table--resize{
	width: 90%;
	tbody, thead{
		tr{
			td,th{
				padding: 0.8rem 2rem;
			}
		}
	}
}
.tab-pane{
	p{
		padding: 1.25rem 0rem;
	}
	ul{
		li{
			list-style: circle !important;
		}
	}
	ul,ol{
		li{
			line-height: 1.9;
			margin-left: 3rem;
			p{
				padding: 0;
				line-height: inherit
			}
		}
	}
}
// FAQ

.container__sidebar{
	.nav-tabs{
		border: none;
		li{
			float: none;
			text-align: right;
			a{
				background-color: transparent;
				border: 0px solid transparent;
				font-size: 1.25rem;
				color: $primary;
				@include transition(all, .15s, linear);	
			}
		}
		li.active{
			a{
				font-weight: bold;
				color: darken($primary, 20)!important;
				&:focus, &:hover, &:active{
					background-color: transparent;
					border: 0px solid transparent;
				}
			}
		}
	}
	.tab-content{
		@extend .text--big;
		.collapsible{
			li{
				line-height: 1.4;
				text-align: left;
				.collapsible-header{
					line-height: inherit;

				}
				.collapsible-body{
					font-size: 1rem;
					padding: 1rem 4.5rem;
				}
			}
		}
	}
}
.collapsible{
	@include boxShadow(0 0 0 transparent !important);
}
.collapsible-header.active{
	b{
		i{
			@include rotate(90);
		}
	}
}
.collapsible-header{
	b{
		color: darken($primary, 20)!important;
		font-size: 1rem;
		i{
		    font-size: 1rem !important;
    		margin-right: .5rem !important;
		    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
		}
	}
}
 
.container__sidebar_content.container__sidebar_content--active{
	color: darken($primary, 20)!important;
}
