
// PROMO



.container__promo{
	ul{
		margin: 1.5rem auto;
		li{
			list-style: circle !important;
			margin-left: 3rem;
			line-height: 1.8;
		}
	}
	ol{
		margin: 1.5rem auto;
		li{
			margin-left: 3rem;
			line-height: 1.8;
		}
	}
}
.container__promo_nav{
	.nav-tabs{
		border: none;
		li{
			a{
				border: none;
				&:hover{
					background:transparent;
				}
				img{
					width: 65%;
				}
			}
		}
	}
	.nav-tabs { 
		li.active{
			a, &:hover, &:focus{
			    color: transparent;
			    background-color: transparent;
			    border: 0px solid transparent;
			    border-bottom-color: transparent;
			    cursor: default;
			    border-bottom-color: transparent;
			    border-bottom-style: solid;
			    border-bottom-width: 0;
			}
		}
	}
	.tab-pane {
		p{
			padding: 0;
		}
	}
}
.promo__image{
	@include transition(all, .15s, ease-in-out);
	@include filter(grayscale, 1);
	&:hover{
		@include filter(grayscale, 0);
	}
}
.promo__image--active{
	@include filter(grayscale, 0);
}