
// SIGN UP

.caret {
    border-top: 4px none !important;
    right: 5px !important;
}
.input-field.col{
    padding: 0 .75rem !important;
}


.input-field input[type=text]:focus + label {
	color: $primary !important;
}
.input-field input[type=text]:focus {
	border-bottom: 1px solid $primary !important;
	box-shadow: 0 1px 0 0 $primary !important;
}

.input-field input[type=password]:focus + label {
	color: $primary !important;
}
.input-field input[type=password]:focus {
	border-bottom: 1px solid $primary !important;
	box-shadow: 0 1px 0 0 $primary !important;
}
.dropdown-content li>a, .dropdown-content li>span{
	color: $primary !important;
}
label{
	color: $lightGrey !important;
}
.btn--signup-group{
	.btn--rectangle{
		max-width: 150px;
		margin-top: 3%;
	}
	p{
		text-align: center;
		padding-top: 2%;
		color: $lightGrey;
	}
}
.checkbox--signup{
	input, label{
		display: block !important;
		margin-top: 0.5rem;
	}
}
.heading--signup{
	background: transparent !important;
	text-align: center;
	margin-bottom: 1rem;
	h3{
		text-transform: capitalize;
	}
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid $primary !important;
    border-bottom: 2px solid $primary !important;
}