@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  height: 100%; }

img {
  outline: none;
  border: 0; }

button {
  cursor: pointer; }

.text--strong, h1, h2, h3, h4, h5, h6, thead {
  font-weight: 700 !important; }

.text--light {
  font-weight: 300; }

.text--big, .container__sidebar .tab-content {
  font-size: 1.75rem; }

.text--red {
  color: #c4870f; }

.text--lightGrey {
  color: #6e6e6e; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5 !important;
  letter-spacing: 1.5px;
  color: #333333; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

small {
  font-size: .7rem;
  color: #333333; }

p, td {
  font-size: 16px;
  line-height: 1.4;
  color: #333333; }

body {
  overflow-x: hidden !important;
  background: white;
  font-family: "Microsoft Yahei", Arial, "σ╛«Φ╜»Θ¢àΘ╗æ", STXihei, "σìÄµûçτ╗åΘ╗æ", sans-serif;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.row .col {
  padding: 0 !important; }

.background__styled {
  background: white url(../images/base/bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

.container--home {
  max-width: 50%  !important;
  width: 100%  !important;
  padding: 10%; }

.container__box {
  padding-top: 8%; }

.container__panel {
  background: white;
  padding: 25px 35px; }
  .container__panel h3 {
    text-transform: capitalize;
    margin: 0 0 1.168rem 0; }
  .container__panel p, .container__panel ol {
    margin-bottom: 1rem;
    font-size: 15px; }
  .container__panel ol {
    padding-left: 5%;
    line-height: 1.5; }
    .container__panel ol li {
      margin-bottom: 10px; }

.container__panel_item {
  padding: 3% 5% 0% 5%; }
  .container__panel_item .img img, .container__panel_item .container__panel--heading h4 img, .container__panel--heading .container__panel_item h4 img {
    width: 280px; }
  .container__panel_item p {
    height: 120px;
    text-align: justify;
    margin: 2% auto; }
  .container__panel_item h5 {
    margin: 2% auto; }

.container__panel--heading {
  max-width: 600px;
  margin: 0 auto;
  text-align: center; }
  .container__panel--heading .img, .container__panel--heading h4 {
    vertical-align: middle;
    display: inline-block; }
    .container__panel--heading .img img, .container__panel--heading h4 img {
      width: 180px;
      padding: 0 0.75rem; }
  .container__panel--heading h4 {
    text-align: left; }

.container__panel--text {
  width: 100%; }
  .container__panel--text p {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem 0rem; }
    .container__panel--text p:last-child {
      margin-bottom: 2rem; }

.container .row {
  margin-left: auto !important;
  margin-right: auto !important; }

.heading {
  background-color: #c4870f !important; }
  .heading h5 {
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    margin: 0 !important; }

.btn--rectangle {
  vertical-align: middle;
  text-align: center;
  background-color: #c4870f;
  width: 100%;
  color: white !important;
  margin: 20px auto 0px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem; }

.btn--large {
  padding: 1.25rem 2.5rem; }

.btn a:link, .btn a:active, .btn a:visited {
  color: #c4870f; }

.row--home .img img, .row--home .container__panel--heading h4 img, .container__panel--heading .row--home h4 img {
  display: block;
  margin: 1% auto;
  width: 15rem;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated; }
.row--home p {
  margin-top: 1rem;
  line-height: 1.5; }

a:hover, a:focus, a:visited, a:active, a:link {
  text-decoration: none;
  outline: none;
  color: #c4870f; }

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges; }

table {
  border: 1px solid black;
  padding: 1%;
  text-align: center;
  margin: 10px auto;
  width: 100%; }

td {
  width: 200px;
  padding: 5px 0; }
  td:first-child {
    text-align: left;
    padding-left: 3%; }

.img img, .container__panel--heading h4 img {
  max-width: 100%;
  height: auto; }
.img figure img, .container__panel--heading h4 figure img {
  border: 0.5rem solid #d7d7d7;
  background-color: #acacac; }
.img a p, .container__panel--heading h4 a p {
  text-align: center;
  font-size: 14px;
  position: relative;
  padding: 3%;
  color: #323232; }

.img--grayscale {
  filter: alpha(opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); }

.btn {
  text-align: center; }

.container-resized {
  width: 70%;
  margin-top: 5%; }

input, button {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/*NAVBAR*/
.container-header {
  width: 70%; }

.header {
  width: inherit;
  border-bottom: 2.5px solid #c4870f;
  background: #525252;
  background: -o-linear-gradient(135deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -o-radial-gradient(50% 150%, circle cover, #525252 20%, #212121 75%);
  background: -ms-linear-gradient(-225deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -ms-radial-gradient(50% 150%, circle, #525252 20%, #212121 75%);
  background: -moz-linear-gradient(-45deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -moz-radial-gradient(50% 150%, circle cover, #525252 20%, #212121 75%);
  background: -webkit-linear-gradient(135deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -webkit-radial-gradient(50% 150%, circle cover, #525252 20%, #212121 75%);
  background: linear-gradient(-45deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), radial-gradient(circle farthest-side at 50% 150%, #525252 20%, #212121 75%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#525252',GradientType=0 ); }

.header__wrap {
  -webkit-box-shadow: 0 2px 28px 0px rgba(0, 0, 0, 0.25), 0 1px 10px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 2px 28px 0px rgba(0, 0, 0, 0.25), 0 1px 10px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0 2px 28px 0px rgba(0, 0, 0, 0.25), 0 1px 10px 0px rgba(0, 0, 0, 0.22); }

.fixed {
  position: fixed;
  z-index: 8888;
  width: 100%; }

.logo {
  width: 100px;
  margin: 1.5rem 1rem 0rem 1rem;
  margin: 1%;
  float: left; }

.rowtop, .rowbottom {
  float: none;
  text-align: right; }

.rowtop span {
  color: white;
  font-size: 12px; }

.rowbottom {
  margin-top: 10px; }
  .rowbottom .form {
    margin: 10% auto; }

.head_top, .head_bottom {
  display: block; }

.main__nav {
  text-transform: uppercase;
  float: right;
  margin-top: 4.2rem; }
  .main__nav li {
    float: left;
    max-width: 100%;
    color: white; }
    .main__nav li a {
      line-height: 2em;
      color: inherit;
      font-size: 12px;
      margin: 0 1rem;
      text-transform: uppercase;
      display: block;
      position: relative;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .main__nav li a:after, .main__nav li a::after {
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background: #c4870f;
        height: 2px;
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.main__nav li a.nav--active:after, .main__nav li a.nav--active::after {
  width: 100%; }
.main__nav li a.nav--active .menu_item.nav--active {
  color: #c4870f; }

.menu_item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  font-weight: normal; }

.nav__dropdown_menu a:hover > .caret {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #c4870f; }

.caret {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.nav__dropdown {
  background: white;
  position: absolute;
  display: none;
  z-index: 100;
  width: 100%;
  left: 0;
  border-bottom: 2.5px solid #c4870f; }
  .nav__dropdown ul {
    padding: 0px;
    margin: 0 auto;
    width: 70%; }
    .nav__dropdown ul li {
      max-width: 280px;
      width: 100%;
      display: inline-block;
      background: 105%  -20% no-repeat;
      background-size: 70%;
      margin: auto 1%; }
      .nav__dropdown ul li a {
        position: relative; }
        .nav__dropdown ul li a img {
          width: auto;
          height: 150px;
          display: inline-block;
          position: relative;
          bottom: -50px;
          z-index: 1; }

.menu__icon, .menu__icon.menu__icon-burger span,
.head_bottom .text--large {
  display: none; }

.btn--signup {
  display: inline !important;
  padding: .2rem 1.4rem;
  line-height: 1.3 !important;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -o-border-radius: 5rem;
  border-radius: 5rem;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 2.25px solid #c4870f; }
  .btn--signup:hover {
    color: #c4870f !important;
    background: transparent; }

.btn--cta {
  display: inline-block; }

/*FOOTER*/
footer {
  height: 100%;
  background-color: #969696; }

.footer__top {
  background-color: white;
  text-align: center;
  color: #8d8d8d;
  padding: 2% 8%;
  font-size: .8rem; }
  .footer__top .img, .footer__top .container__panel--heading h4, .container__panel--heading .footer__top h4 {
    max-width: 78%;
    margin: 0 auto; }

.footer__links {
  margin: 0% auto 2% auto; }
  .footer__links ul li {
    display: inline-block;
    margin: 1%; }
    .footer__links ul li a {
      color: #4a4a4a;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .footer__links ul li a:hover {
        color: #c4870f !important; }
      .footer__links ul li a:active, .footer__links ul li a:visited, .footer__links ul li a:link {
        color: #4a4a4a; }

.footer__text {
  margin-left: 26%;
  margin-right: 14%;
  text-align: left; }
  .footer__text p {
    line-height: 1.25; }

.footer__btm {
  background-color: #969696;
  padding: 1%;
  text-align: center;
  color: #4f4f4f; }
  .footer__btm p {
    font-size: 14px; }

.container__tab h4 {
  text-transform: uppercase; }
.container__tab .nav li {
  margin-right: 2rem; }
  .container__tab .nav li a {
    padding: 10px 0px; }
    .container__tab .nav li a:focus, .container__tab .nav li a:hover {
      text-decoration: none;
      background-color: transparent; }
.container__tab .nav-tabs li a {
  color: #333333;
  text-transform: uppercase;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0; }
.container__tab .nav-tabs li.active a, .container__tab .nav-tabs li.active:focus {
  color: #c4870f;
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom-color: #c4870f;
  cursor: default;
  border-bottom-color: #c4870f;
  border-bottom-style: solid;
  border-bottom-width: 2.5px; }

.table thead tr th, .table tbody tr th, .table tfoot tr th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #dddddd; }
.table thead tr td, .table tbody tr td, .table tfoot tr td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #dddddd; }

.table--resize {
  width: 90%; }
  .table--resize tbody tr td, .table--resize tbody tr th, .table--resize thead tr td, .table--resize thead tr th {
    padding: 0.8rem 2rem; }

.tab-pane p {
  padding: 1.25rem 0rem; }
.tab-pane ul li {
  list-style: circle !important; }
.tab-pane ul li, .tab-pane ol li {
  line-height: 1.9;
  margin-left: 3rem; }
  .tab-pane ul li p, .tab-pane ol li p {
    padding: 0;
    line-height: inherit; }

.container__sidebar .nav-tabs {
  border: none; }
  .container__sidebar .nav-tabs li {
    float: none;
    text-align: right; }
    .container__sidebar .nav-tabs li a {
      background-color: transparent;
      border: 0px solid transparent;
      font-size: 1.25rem;
      color: #c4870f;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      -ms-transition: all 0.15s linear;
      -o-transition: all 0.15s linear;
      transition: all 0.15s linear; }
  .container__sidebar .nav-tabs li.active a {
    font-weight: bold;
    color: #654608 !important; }
    .container__sidebar .nav-tabs li.active a:focus, .container__sidebar .nav-tabs li.active a:hover, .container__sidebar .nav-tabs li.active a:active {
      background-color: transparent;
      border: 0px solid transparent; }
.container__sidebar .tab-content .collapsible li {
  line-height: 1.4;
  text-align: left; }
  .container__sidebar .tab-content .collapsible li .collapsible-header {
    line-height: inherit; }
  .container__sidebar .tab-content .collapsible li .collapsible-body {
    font-size: 1rem;
    padding: 1rem 4.5rem; }

.collapsible {
  -webkit-box-shadow: 0 0 0 transparent !important;
  -moz-box-shadow: 0 0 0 transparent !important;
  box-shadow: 0 0 0 transparent !important; }

.collapsible-header.active b i {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.collapsible-header b {
  color: #654608 !important;
  font-size: 1rem; }
  .collapsible-header b i {
    font-size: 1rem !important;
    margin-right: .5rem !important;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.container__sidebar_content.container__sidebar_content--active {
  color: #654608 !important; }

.container__promo ul {
  margin: 1.5rem auto; }
  .container__promo ul li {
    list-style: circle !important;
    margin-left: 3rem;
    line-height: 1.8; }
.container__promo ol {
  margin: 1.5rem auto; }
  .container__promo ol li {
    margin-left: 3rem;
    line-height: 1.8; }

.container__promo_nav .nav-tabs {
  border: none; }
  .container__promo_nav .nav-tabs li a {
    border: none; }
    .container__promo_nav .nav-tabs li a:hover {
      background: transparent; }
    .container__promo_nav .nav-tabs li a img {
      width: 65%; }
.container__promo_nav .nav-tabs li.active a, .container__promo_nav .nav-tabs li.active:hover, .container__promo_nav .nav-tabs li.active:focus {
  color: transparent;
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom-color: transparent;
  cursor: default;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 0; }
.container__promo_nav .tab-pane p {
  padding: 0; }

.promo__image {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1); }
  .promo__image:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0); }

.promo__image--active {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0); }

.caret {
  border-top: 4px none !important;
  right: 5px !important; }

.input-field.col {
  padding: 0 .75rem !important; }

.input-field input[type=text]:focus + label {
  color: #c4870f !important; }

.input-field input[type=text]:focus {
  border-bottom: 1px solid #c4870f !important;
  box-shadow: 0 1px 0 0 #c4870f !important; }

.input-field input[type=password]:focus + label {
  color: #c4870f !important; }

.input-field input[type=password]:focus {
  border-bottom: 1px solid #c4870f !important;
  box-shadow: 0 1px 0 0 #c4870f !important; }

.dropdown-content li > a, .dropdown-content li > span {
  color: #c4870f !important; }

label {
  color: #707070 !important; }

.btn--signup-group .btn--rectangle {
  max-width: 150px;
  margin-top: 3%; }
.btn--signup-group p {
  text-align: center;
  padding-top: 2%;
  color: #707070; }

.checkbox--signup input, .checkbox--signup label {
  display: block !important;
  margin-top: 0.5rem; }

.heading--signup {
  background: transparent !important;
  text-align: center;
  margin-bottom: 1rem; }
  .heading--signup h3 {
    text-transform: capitalize; }

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #c4870f !important;
  border-bottom: 2px solid #c4870f !important; }

@media screen and (max-width: 1024px) {
  .main__nav {
    margin-top: 3.3rem; }

  .container--home {
    max-width: 80% !important; }

  .container__box {
    padding-top: 15%; } }
@media screen and (max-width: 990px) {
  .container-header {
    width: 100%; }

  .menu__icon.menu__icon-burger > span, .mobile__header_content-user {
    display: block; }

  .header.fixed {
    background: -webkit-linear-gradient(-225deg, rgba(82, 82, 82, 0.1) 50%, #525252 50%), -webkit-radial-gradient(50% 500%, circle, #525252 35%, #212121 100%);
    border-bottom: 2.5px solid #c4870f;
    display: block;
    position: fixed;
    z-index: 9999; }

  .head_top .menu__icon {
    text-align: left;
    float: left; }

  .mobile__header {
    display: table;
    width: 100%; }

  .mobile__header_content {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0; }
    .mobile__header_content div {
      text-align: center; }

  .mobile__header_content-user {
    float: right;
    width: 25px;
    margin-right: 1rem; }

  .img__header {
    display: inline-block; }

  .img__header-user > img {
    width: 75%;
    position: relative;
    bottom: 15px; }

  .btn--cta {
    margin: auto 25px;
    width: 80%; }

  .menu_icon {
    text-align: left;
    display: block;
    position: absolute;
    top: 28px;
    left: 10px;
    right: 10px;
    height: 6px;
    width: 25px;
    background: #ff6600;
    -webkit-transition: background 0 0.2s;
    -moz-transition: background 0 0.2s;
    -ms-transition: background 0 0.2s;
    -o-transition: background 0 0.2s;
    transition: background 0 0.2s; }

  .logo {
    float: none;
    width: 70px;
    margin: 10px auto; }

  .user {
    position: relative;
    right: 0px;
    top: 0px;
    width: auto;
    display: none;
    float: none; }

  .rowtop, .rowbottom {
    float: none; }

  .head_bottom {
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -250px;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }

  .nav__mobile {
    background-color: #454545;
    min-width: 250px;
    left: 0px;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding-left: 0;
    padding-right: 0; }

  .wrap--mobile {
    margin-left: 250px;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }

  .head_bottom > .text--large {
    display: block;
    font-size: 3rem;
    color: white;
    font-weight: 300;
    margin: 0px 15px 15px; }

  .row.head_bottom.nav__mobile {
    margin: 0px !important; }

  .main__nav {
    float: none; }
    .main__nav li {
      float: none;
      margin: 0px;
      border-bottom: 1px solid rgba(50, 50, 50, 0.25);
      color: white;
      font-size: 1rem; }
      .main__nav li a, .main__nav li a.nav--active {
        line-height: 2rem; }
        .main__nav li a:after, .main__nav li a::after, .main__nav li a.nav--active:after, .main__nav li a.nav--active::after {
          height: 0px;
          background: none; }
    .main__nav a {
      display: inline-block !important; }

  .menu__icon {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    float: left; }
    .menu__icon span {
      display: block;
      position: absolute;
      top: 25px;
      left: 17px;
      right: 0px;
      height: 5px;
      background: white; }
      .menu__icon span:after, .menu__icon span::after, .menu__icon span:before, .menu__icon span::before {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #fff;
        content: ""; }
      .menu__icon span:before, .menu__icon span::before {
        top: -12.5px; }
      .menu__icon span:after, .menu__icon span::after {
        bottom: -12.5px; }

  .menu__icon:focus, button:focus {
    outline: none;
    background-color: transparent !important; }

  .menu__icon-burger {
    background-color: transparent; }
    .menu__icon-burger span {
      -webkit-transition: background 0s 0.3s;
      -moz-transition: background 0s 0.3s;
      -ms-transition: background 0s 0.3s;
      -o-transition: background 0s 0.3s;
      transition: background 0s 0.3s; }
      .menu__icon-burger span:after, .menu__icon-burger span::after, .menu__icon-burger span:before, .menu__icon-burger span::before {
        -webkit-transition-duration: 0.3s, 0.3s;
        -o-transition-duration: 0.3s, 0.3s;
        transition-duration: 0.3s, 0.3s;
        -webkit-transition-delay: 0.3s, 0s;
        -o-transition-delay: 0.3s, 0s;
        transition-delay: 0.3s, 0s; }
      .menu__icon-burger span:before, .menu__icon-burger span::before {
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, -webkit-transform;
        -o-transition-property: top, transform;
        transition-property: top, transform;
        transition-property: top, transform, -webkit-transform; }
      .menu__icon-burger span:after, .menu__icon-burger span::after {
        -webkit-transition-property: bottom, -webkit-transform;
        transition-property: bottom, -webkit-transform;
        -o-transition-property: bottom, transform;
        transition-property: bottom, transform;
        transition-property: bottom, transform, -webkit-transform; }

  .menu__icon-burger.is-active {
    background: none; }
    .menu__icon-burger.is-active span {
      background: none; }
      .menu__icon-burger.is-active span:before, .menu__icon-burger.is-active span::before {
        top: 0;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .menu__icon-burger.is-active span:after, .menu__icon-burger.is-active span::after {
        bottom: 0;
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .menu__icon-burger.is-active span:after, .menu__icon-burger.is-active span::after, .menu__icon-burger.is-active span:before, .menu__icon-burger.is-active span::before {
        -webkit-transition-delay: 0.3s, 0s;
        -o-transition-delay: 0.3s, 0s;
        transition-delay: 0.3s, 0s; } }
@media screen and (max-width: 768px) {
  .container--home {
    max-width: 100% !important; }

  .container__panel_item p {
    height: 100%; } }
@media screen and (max-width: 430px) {
  .container__box {
    padding-top: 30%;
    padding-left: 10px;
    padding-right: 10px; }

  .container--home {
    max-width: 100% !important;
    padding: 40% 10%; }

  .container__panel {
    padding: 20px 10px; }
    .container__panel h3 {
      margin-top: 6% !important;
      font-size: 2.25rem; }
    .container__panel .col.l4.m4.center-align {
      margin: 10% 0%; }
    .container__panel p {
      padding: 0rem 1rem; }
    .container__panel ol {
      padding: 0% 10% 0% 15%; }

  .container__panel_item p {
    height: 100%; }
  .container__panel_item .img img, .container__panel_item .container__panel--heading h4 img, .container__panel--heading .container__panel_item h4 img {
    width: 75%; }

  .container__panel--text p {
    padding: 1rem; }

  .container__panel--heading .img img, .container__panel--heading h4 img {
    text-align: center;
    margin: 0 auto;
    width: 100px;
    float: none; }
  .container__panel--heading .col {
    padding: 0rem 1rem !important;
    float: none !important; }

  .container__sidebar .tab-content .collapsible li {
    line-height: 1.3; }
    .container__sidebar .tab-content .collapsible li .collapsible-header {
      padding: 0 .5rem; }
    .container__sidebar .tab-content .collapsible li .collapsible-body {
      padding: 1rem; }
  .container__sidebar .nav-tabs {
    text-align: center; }
    .container__sidebar .nav-tabs li {
      display: inline-block; }

  .container__promo_nav .nav-tabs {
    margin: 0 auto 0 15%; }
    .container__promo_nav .nav-tabs li {
      margin: 0 auto;
      float: none;
      text-align: center;
      display: inline-block; }
      .container__promo_nav .nav-tabs li a {
        margin: 0;
        padding: 0; }
        .container__promo_nav .nav-tabs li a img {
          width: 100px; }

  .nav.nav-tabs.col.s4, .tab-content.col.s8, .col.s8.offset-s4 {
    width: 100% !important;
    margin-left: 0 !important; }

  .table thead tr td, .table thead tr th, .table tbody tr td, .table tbody tr th, .table tfoot tr td, .table tfoot tr th {
    padding: 0px; }

  .table--resize {
    width: 90%; }
    .table--resize tbody tr td, .table--resize tbody tr th, .table--resize thead tr td, .table--resize thead tr th {
      padding: .5rem;
      text-align: center; } }
@media screen and (max-width: 375px) {
  .container__tab .nav li {
    margin-right: 1rem; } }
@media screen and (max-width: 320px) {
  .container__box {
    padding-top: 35%; }

  .container__tab .nav li {
    margin-right: .2rem; } }
/*ANIMATIONS*/
@-webkit-keyframes shine {
  100% {
    left: 125%; } }
@-moz-keyframes shine {
  100% {
    left: 125%; } }
@-o-keyframes shine {
  100% {
    left: 125%; } }
@keyframes shine {
  100% {
    left: 125%; } }
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(100%, 0%); }
  100% {
    -webkit-transform: translate(-100%, 0%); } }
@-moz-keyframes marquee {
  0% {
    -moz-transform: translate(100%, 0%); }
  100% {
    -moz-transform: translate(-100%, 0%); } }
@-o-keyframes marquee {
  0% {
    -o-transform: translate(100%, 0%); }
  100% {
    -o-transform: translate(-100%, 0%); } }
@keyframes marquee {
  0% {
    transform: translate(100%, 0%); }
  100% {
    transform: translate(-100%, 0%); } }
@-webkit-keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1); } }
@-moz-keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    -moz-transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    -moz-transform: scale(1); } }
@-o-keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    -o-transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    -o-transform: scale(1); } }
@keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    transform: scale(1); } }

/*# sourceMappingURL=main.css.map */
