/*ANIMATIONS*/

@include keyframe (shine) {
    100%{
        left:125%
    }
}

@-webkit-keyframes marquee {
	0% {-webkit-transform: translate(100%, 0%);}
	100% {-webkit-transform: translate(-100%, 0%);} 
}
@-moz-keyframes marquee {
	0% {-moz-transform: translate(100%, 0%);}
	100% {-moz-transform: translate(-100%, 0%);} 
}
@-o-keyframes marquee {
	0% {-o-transform: translate(100%, 0%);}
	100% {-o-transform: translate(-100%, 0%);} 
}
@keyframes marquee {
	0% {transform: translate(100%, 0%);}
	100% {transform: translate(-100%, 0%);}
}

@-webkit-keyframes open-pop-up {
	0% {
		display: none;
		opacity: 0; 
	}
	1% {
		display: block;
		filter: alpha(opacity=0);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		opacity: 0;
		-webkit-transform: scale(0);
	}
	100% {
		filter: alpha(opacity=100);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		opacity: 1;
		-webkit-transform: scale(1);
	} 
}
@-moz-keyframes open-pop-up {
	0% {
		display: none;
		opacity: 0; 
	}
	1% {
		display: block;
		filter: alpha(opacity=0);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		opacity: 0;
		-moz-transform: scale(0);
	}
	100% {
		filter: alpha(opacity=100);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		opacity: 1;
		-moz-transform: scale(1);
	} 
}
@-o-keyframes open-pop-up {
	0% {
		display: none;
		opacity: 0; 
	}
	1% {
		display: block;
		filter: alpha(opacity=0);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		opacity: 0;
		-o-transform: scale(0);
	}
	100% {
		filter: alpha(opacity=100);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		opacity: 1;
		-o-transform: scale(1);
	} 
}
@keyframes open-pop-up {
	0% {
		display: none;
		opacity: 0; 
	}
	1% {
		display: block;
		filter: alpha(opacity=0);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		opacity: 0;
		transform: scale(0); 
	}
	100% {
		filter: alpha(opacity=100);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		opacity: 1;
		transform: scale(1); 
	} 
}
