body{
	overflow-x: hidden !important;
	background: $plainWhite;
	font-family: $font-stack; 
	@include transition(all, 0.3s, cubic-bezier(.25,.8,.25,1))
}
.row .col{
	padding: 0 !important;
}
.background__styled{
	background: $plainWhite url(../images/base/bg.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.container--home{
	max-width: 50%  !important;
	width: 100%  !important;
	padding: 10%;
}
.container__box{
	padding-top: 8%;
}
.container__panel{
	background: $plainWhite;
	padding: 25px 35px;
	h3{
		text-transform: capitalize;
		margin: 0 0 1.168rem 0;
	}
	p,ol{
		margin-bottom: 1rem;
		font-size: 15px;
	}
	ol{
		padding-left: 5%;
		line-height: 1.5;
		li{
			margin-bottom: 10px;
		}
	}
}
.container__panel_item{
    padding: 3% 5% 0% 5%;
    .img{
    	img{
    		width: 280px;
    	}
    }
    p{
    	height: 120px;
    	text-align: justify;
    	margin: 2% auto;
    }
    h5{
    	margin: 2% auto;
    }
}
.container__panel--heading{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	.img{
		vertical-align: middle;
		display: inline-block;
		img{
			width: 180px;
			padding: 0 0.75rem;
		}
	}
	h4{
		text-align: left;
		@extend .img
	}
}
.container__panel--text{
	width: 100%;
	p{
		max-width: 600px;
		margin: 0 auto;
		padding: 1rem 0rem;
		&:last-child{
			margin-bottom: 2rem;
		}
	}
}
.container .row{
    margin-left: auto !important;
    margin-right: auto !important;
}
.heading{
	background-color: $primary !important;
	h5{
		padding: 15px 30px;
		color: $plainWhite;
		text-transform: uppercase;
		margin: 0 !important;
	}
}
.btn--rectangle {
    vertical-align: middle;
    text-align: center; 
    background-color: rgba(196,135,15,1); 
    width: 100%; 
    color: $plainWhite !important; 
    margin: 20px auto 0px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
}
.btn--large{
    padding: 1.25rem 2.5rem; 
}
.btn a:link,.btn a:active,.btn a:visited{
	color: $primary;
}
.row--home{
	.img {
		img{
			display: block;
			margin: 1% auto;
			width: 15rem;
			-ms-interpolation-mode: nearest-neighbor;
			image-rendering: -webkit-optimize-contrast;
			image-rendering: -moz-crisp-edges;
			image-rendering: -o-crisp-edges;
			image-rendering: pixelated;
		}
	}
	p{
		margin-top: 1rem;
		line-height: 1.5;
	}
}
a{
	&:hover,&:focus,&:visited,&:active,&:link{
		text-decoration:none;
		outline:none;
		color: $primary;
	}
}
img{
	@include renderCrisp;
}
table{
	border:1px solid rgba(0,0,0,1);
	padding:1%;
	text-align:center;
	margin:10px auto;
	width:100%
}
thead{
	@extend .text--strong;
}
td{
	width:200px;
	padding:5px 0;
	&:first-child{
		text-align:left;
		padding-left:3%
	}
}
.img {
	img{
		max-width:100%;height:auto
	}
	figure img{
		border:.5rem solid rgba(215,215,215,1);
		background-color:rgba(172,172,172,1);
	}
	a{
		p{
			text-align:center;
			font-size:14px;
			position:relative;
			padding:3%; 
			color: rgba(50,50,50,1);
		}
	}
} 
.img--grayscale{
    @include opacity(.6);
    @include filter(grayscale, 100%);
}


.btn{
	text-align:center
}

.container-resized{
	width: 70%;
	margin-top: 5%;
}
input,button{
	@include boxShadow(none !important);
	outline: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

