$primary: rgba(196, 135, 15,1);
$secondary: rgba(212,212,212,1);
$grey: rgba(110,110,110,1);
$lightGrey: rgba(112,112,112,1);
$darkGrey: rgba(51,51,51,1);

$plainWhite: rgba(255, 255, 255,1);

$yellow: rgba(254, 194, 78,1);
$greyServices: rgba(107, 107, 107,1);
$greyFooter: rgba(150,150,150,1);