@media screen and (max-width: 1024px){
    .main__nav {
        margin-top: 3.3rem;
    }
    .container--home{
        max-width: 80% !important;
    }
    .container__box {
        padding-top: 15%;
    }
}
@media screen and(max-width: 990px){
    .container-header{
        width: 100%;
    }
    .menu__icon.menu__icon-burger>span,.mobile__header_content-user{
        display: block;
    }
    .header.fixed{
        background: -webkit-linear-gradient(-225deg ,rgba(82,82,82,.1) 50%, rgba(82,82,82,1) 50%), -webkit-radial-gradient(50% 500%, circle,  rgba(82,82,82,1) 35%, rgba(33,33,33,1) 100%);
        border-bottom: 2.5px solid rgba(196, 135, 15,1);
        display: block;
        position: fixed;
        z-index: 9999;
     }
    .head_top {
        .menu__icon{
            text-align: left;
            float: left;
        }
    }
    .mobile__header{
        display:table;
        width:100%;
    }
    .mobile__header_content{
        display:table-cell;
        vertical-align:middle;
        padding-left: 0;
        padding-right: 0;
        div{
            text-align:center;
        }
    }
    .mobile__header_content-user{
        float: right; 
        width:25px; 
        margin-right: 1rem
    }
    .img__header{
        display: inline-block;
    }
    .img__header-user>img{
        width: 75%; 
        position: relative; 
        bottom: 15px; 
    }
    .btn--cta{
        margin: auto 25px;
        width: 80%;
    }
    .menu_icon{
        text-align: left;
        display: block;
        position: absolute;
        top: 28px;
        left: 10px;
        right: 10px;
        height: 6px;
        width: 25px;
        background: #ff6600;
        @include transition(background, 0,  0.2s);
    }
    .logo{
        float: none; 
        width: 70px; 
        margin: 10px auto;
    }
    .user{
        position: relative;
        right: 0px;
        top: 0px;
        width: auto;
        display: none;
        float: none;
    }
    .rowtop, .rowbottom{
        float: none;
    }
    .head_bottom{
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: -250px;
        overflow-x: hidden;
        padding-top: 20px;
        transition: 0.5s;
        @include transition(all, 0.5s, cubic-bezier(.25,.8,.25,1));

    }
    .nav__mobile{   
        background-color: rgba(69,69,69,1);
        min-width: 250px;
        left: 0px;
        @include transition(all, 0.5s, cubic-bezier(.25,.8,.25,1));

        padding-left: 0;
        padding-right: 0;
    }
    .wrap--mobile{
        margin-left: 250px;
        @include transition(all, 0.5s, cubic-bezier(.25,.8,.25,1));

    }

    .head_bottom>.text--large{
        display: block;
        font-size: 3rem;
        color: rgba(255,255,255,1);
        font-weight: 300;
        margin: 0px 15px 15px;
    }
    .row.head_bottom.nav__mobile{
        margin: 0px !important;
    }
    .main__nav {
        float: none;
        li {
            float: none;
            margin: 0px;
            border-bottom: 1px solid rgba(50,50,50,.25);
            color: rgba(255,255,255,1);
            font-size: 1rem;
            a, a.nav--active{
                line-height: 2rem;
                &:after,&::after{
                    height: 0px;
                    background: none;
                }               
            }
        }
        a{
            display: inline-block !important;
        }
    }
    .menu__icon {
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;
        font-size: 0;
        text-indent: -9999px;
        appearance: none;
        @include boxShadow(none);
        border-radius: none;
        border: none;
        cursor: pointer;
        float: left;
        span{
            display: block;
            position: absolute;
            top: 25px;
            left: 17px;
            right: 0px;
            height: 5px;
            background: $plainWhite;
            &:after, &::after, 
            &:before, &::before{
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: #fff;
                content: "";
            }
            &:before, &::before{
                top: -12.5px;
            }
            &:after, &::after{
                bottom: -12.5px;
            }
        }
     }

     .menu__icon, button{
        &:focus{
            outline: none;
            background-color: transparent !important;
        }
    }
    .menu__icon-burger {
        background-color: transparent;
        span{
            @include transition(background, 0s, 0.3s);
            &:after, &::after, 
            &:before, &::before{
                -webkit-transition-duration: 0.3s, 0.3s;
                -o-transition-duration: 0.3s, 0.3s;
                transition-duration: 0.3s, 0.3s;
                -webkit-transition-delay: 0.3s, 0s;
                -o-transition-delay: 0.3s, 0s;
                transition-delay: 0.3s, 0s;
            }
            &:before, &::before{
                -webkit-transition-property: top, -webkit-transform;
                transition-property: top, -webkit-transform;
                -o-transition-property: top, transform;
                transition-property: top, transform;
                transition-property: top, transform, -webkit-transform;
            }
            &:after, &::after{
                -webkit-transition-property: bottom, -webkit-transform;
                transition-property: bottom, -webkit-transform;
                -o-transition-property: bottom, transform;
                transition-property: bottom, transform;
                transition-property: bottom, transform, -webkit-transform;
            }
        }
    }

    .menu__icon-burger.is-active {
        background: none;
        span{
            background: none;
            &:before, &::before{
                top: 0;
                @include rotate(45);
            }
            &:after, &::after{
                bottom: 0;
                @include rotate(-45);
            }
            &:after, &::after, 
            &:before, &::before{
                -webkit-transition-delay: 0.3s, 0s;
                -o-transition-delay: 0.3s, 0s;
                transition-delay: 0.3s, 0s;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .container--home{
        max-width: 100% !important;
    }
    .container__panel_item {
        p{
            height: 100%;
        }
    }
}
@media screen and (max-width: 430px){
    .container__box {
        padding-top: 30%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .container--home{
        max-width: 100% !important;
        padding: 40% 10%;
    }
    .container__panel{
        padding: 20px 10px;
        h3{
            margin-top: 6% !important;
            font-size: 2.25rem;
        }
        .col.l4.m4.center-align{
            margin: 10% 0%;
        }
        p{
            padding: 0rem 1rem;
        }
        ol{
            padding: 0% 10% 0% 15%;
        }
    }
    .container__panel_item {
        p{
            height: 100%;
        }
        .img {
            img{
                width: 75%;
            }
        }
    }
    .container__panel--text{
        p{
            padding: 1rem;
        }
    }
    .container__panel--heading{
        .img{
            img{
                text-align: center;
                margin: 0 auto;
                width: 100px;
                float: none;
            }
        }
        .col{
            padding: 0rem 1rem !important;
            float: none !important;
        }
    }
    .container__sidebar {
        .tab-content {
            .collapsible {
                li {
                    line-height: 1.3;
                    .collapsible-header{
                            padding: 0 .5rem;
                    }
                    .collapsible-body{
                        padding: 1rem;
                    }
                }
            }
        }
        .nav-tabs{
            text-align: center;
            li{
                display: inline-block;
            }
        }
    }
    .container__promo_nav{
        .nav-tabs{
            margin: 0 auto 0 15%;
            li{
                margin: 0 auto;
                float: none;
                text-align: center;
                display: inline-block;
                a{
                    margin: 0;
                    padding: 0;
                    img{
                        width: 100px;
                    }
                }
            }
        }
    }
    .nav.nav-tabs.col.s4,.tab-content.col.s8,.col.s8.offset-s4{
        width: 100% !important;
        margin-left: 0 !important;
    }
    .table{
        thead, tbody, tfoot{
            tr{
                td,th{
                    padding: 0px;
                }
            }
        }
    }
    .table--resize{
        width: 90%;
        tbody, thead{
            tr{
                td,th{
                    padding: .5rem;
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (max-width: 375px){
    .container__tab .nav li {
        margin-right: 1rem;
    }
}
@media screen and (max-width: 320px){
    .container__box {
        padding-top: 35%;
    }
    .container__tab .nav li {
        margin-right: .2rem;
    }
}
