$font-stack: "Microsoft Yahei", Arial,"微软雅黑", STXihei, "华文细黑", sans-serif;
.text--strong{
	font-weight: 700 !important
}
.text--light{
	font-weight: 300
}
.text--big {
    font-size: 1.75rem;
}
.text--red{
	color: $primary;
}
.text--lightGrey{
	color: $grey;
}

h1,h2,h3,h4,h5,h6{
	@extend .text--strong;
	line-height:1.5 !important;
	letter-spacing: 1.5px;
	color: $darkGrey;
}
h1{
	font-size:2.5rem
}
h2{
	font-size:2.25rem
}
h3{
	font-size:2rem
}
h4{
	font-size:1.8rem
}
h5{
	font-size:1.4rem
}
h6{
	font-size:1.2rem
}
small{
	font-size:.7rem;
	color: $darkGrey;
}
p,td{
	font-size: 16px;
	line-height:1.4;
	color: $darkGrey;
}