/*NAVBAR*/
.container-header{
    width: 70%;
}
.header{
    width:inherit;
    border-bottom: 2.5px solid $primary;
    @include navBackground( rgba(82,82,82,.1), rgba(82,82,82,1), rgba(33,33,33,1));
}
.header__wrap{
    @include boxShadow((0 2px 28px 0px rgba(0,0,0,0.25), 0 1px 10px 0px rgba(0,0,0,0.22)));
}
.fixed{
    position: fixed;
    z-index: 8888;
    width: 100%;
}

.logo{
    width: 100px;
    margin: 1.5rem 1rem 0rem 1rem;
    margin: 1%;
    float: left;
}
.rowtop, .rowbottom{
    float: none;
    text-align: right;
}
.rowtop span{
    color: rgba(255,255,255,1);
    font-size: 12px;
}
.rowbottom {
    margin-top:10px;
    .form{
    	margin: 10% auto;
    }
} 

.head_top,.head_bottom{
    display: block;
}

.main__nav {
	text-transform: uppercase;
	float: right;
    margin-top: 4.2rem;
	li {
		float: left;
		max-width: 100%;
		color: rgba(255,255,255,1); 
		a {
			line-height:2em;
			color:inherit;
			font-size: 12px; 
			margin: 0 1rem;
			text-transform: uppercase;
			display: block;
			position: relative;
		    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
			&:after, &::after{
				position: absolute;
				bottom: -10px;
				left: 0;
				right: 0;
				margin: auto;
				width: 0%;
				content: '';
				color: transparent;
				background:rgba(196, 135, 15,1);
				height: 2px;
			    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
			}
		}
	}
}

.main__nav li a.nav--active{
	&:after,&::after{
		width: 100%;
	}
	.menu_item.nav--active{
		color: $primary;
	}
}


.menu_item {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1rem;
	font-weight: normal;
}

.nav__dropdown_menu a:hover>.caret{
	@include rotate(180);
	color: $primary;
}

.caret{
    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
}

.nav__dropdown{
    background:rgba(255,255,255,1);
    position: absolute;
    display: none;
    z-index: 100;
    width: 100%;
    left: 0;
    border-bottom: 2.5px solid $primary;
    ul{
		padding: 0px;
		margin: 0 auto;
		width: 70%;
	    li{		    
	    	max-width: 280px;
		    width: 100%;
		    display: inline-block;
		    background: 105%  -20% no-repeat;
		    background-size: 70%;
		    margin: auto 1%;
		    a{
		    	position: relative;
		    	img{
		    		width: auto;
				    height: 150px;
				    display: inline-block;
				    position: relative;
				    bottom: -50px;
				    z-index: 1;
		    	}
		    }
		}
	}
}
.menu__icon,  .menu__icon.menu__icon-burger span,
.head_bottom .text--large {
	display: none
}
.btn--signup{
	display: inline !important;
    padding: .2rem 1.4rem;
    line-height: 1.3 !important;
	@include boxShadow((0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)));
	@include borderRadius(5rem);
    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
    border:2.25px solid rgba(196,135,15,1);
	&:hover{
		color: $primary !important;
		background: transparent;
	}
}
.btn--cta{
	display: inline-block;
}